@import 'tailwindcss';

@import 'leaflet/dist/leaflet.css';

.leaflet-pane img,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  max-width: none !important;
  max-height: none !important;
}

/* Ensure map container handles z-indexing correctly */
#map {
  isolation: isolate;
  z-index: 1;
}
